.header {
  background: #fff;
  position: fixed;
  box-sizing: border-box;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  z-index: 100;
}

.header-logo-container {
  width: 200px;
  height: 50px;
  padding: 5px;
  box-sizing: border-box;
  position: relative;
  float: left;
}

.logo {
  background: image-url("logo.png");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.right-side {
  float: right;
}

.nav-button {
  padding: 5px 10px;
  text-align: center;
  line-height: 28px;
  margin: 5px 5px 5px 0;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  color: #000;
  text-decoration: none;
}

.nav-button.button-accent {
  background: #5E841B;
  color: #fff;
}
