.todo-form-body > label {
  font-weight: 300;
  font-size: 14px;
  margin: 5px 0 0 0;
  display: block;
}

.todo-form-body > label > input {
  font-weight: 300;
  font-size: 14px;
  padding: 5px;
  width: 100%;
  margin: 5px 0;
}

.btn.large.add {
  margin-bottom: 5px;
}
