.pomodoro-form > label {
  margin: 5px 0;
  width: 100%;
  font-weight: 300;
  display: block;
  font-size: 14px;
}

.pomodoro-select {
  margin: 5px 0;
  width: 100%;
  font-weight: 300;
  border: .5px solid #ccc;
}
