<!DOCTYPE html>
<html>
<head>
  <title>pomodolist</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel='icon' type='image/png' href='favicon.ico' />
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'application' %>
</body>
</html>
